@model IEnumerable<Asset_Management.Models.SQL.Location>

@{
    ViewData["Title"] = "Index";

    var _configuration = ViewBag.config;
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Location1)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Location1)
            </td>
            <td>
                <a class="btn btn-outline-info" asp-action="Details" asp-route-id="@item.LocationId">Details</a>
                @if (User.IsInRole(_configuration))
                {
                    <a class="index-btn btn btn-outline-dark" asp-action="Edit" asp-route-id="@item.LocationId">Edit</a>

                    <a class="btn btn-outline-danger" asp-action="Delete" asp-route-id="@item.LocationId">Delete</a>
                }
            </td>
        </tr>
}
    </tbody>
</table>
