@model Asset_Management.Models.SQL.Asset

@{
    ViewData["Title"] = "Delete Asset";
}

<h1>Delete Asset</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.AcquiredDate)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.AcquiredDate)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.PurchasePrice)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.PurchasePrice)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.CurrentValue)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.CurrentValue)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Brand)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Brand)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Model)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Model)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Comments)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Comments)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.RetiredDate)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.RetiredDate)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.AssetTagNumber)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.AssetTagNumber)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.SerialNumber)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.SerialNumber)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.ServiceTag)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.ServiceTag)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.WarrantyExpires)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.WarrantyExpires)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.DeviceId)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.DeviceId)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Verified)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Verified)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.DateVerified)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.DateVerified)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.WorkCenter)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.WorkCenter)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.AssetType)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.AssetType.AssetType1)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Condition)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Condition.Condition1)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Contact)
        </dt>
        <dd class="col-sm-9">
            @if (Model.Contact != null)
            {
                @Html.DisplayFor(model => model.Contact.DisplayName)
            }
            else
            {
                <span>Unassigned</span>
            }
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Location)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Location.Location1)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="AssetId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
