@model Asset_Management.Models.SQL.Asset

@{
    ViewData["Title"] = "Asset Details";
}

<h1>Asset Details</h1>

<div>
    <hr />
    <dl class="row">
        <div class="col-sm-6">
            <div class="row">
                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.Description)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.Description)
                </dd>
                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.AcquiredDate)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.AcquiredDate)
                </dd>
                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.PurchasePrice)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.PurchasePrice)
                </dd>
                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.CurrentValue)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.CurrentValue)
                </dd>
                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.Brand)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.Brand)
                </dd>
                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.Model)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.Model)
                </dd>
                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.Comments)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.Comments)
                </dd>
                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.RetiredDate)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.RetiredDate)
                </dd>
                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.AssetTagNumber)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.AssetTagNumber)
                </dd>
                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.SerialNumber)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.SerialNumber)
                </dd>
                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.ServiceTag)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.ServiceTag)
                </dd>
                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.WarrantyExpires)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.WarrantyExpires)
                </dd>
                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.DeviceId)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.DeviceId)
                </dd>
                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.Verified)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.Verified)
                </dd>
                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.DateVerified)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.DateVerified)
                </dd>
                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.WorkCenter)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.WorkCenter)
                </dd>
                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.AssetType)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.AssetType.AssetType1)
                </dd>
                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.Condition)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.Condition.Condition1)
                </dd>
                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.Contact)
                </dt>
                <dd class="col-sm-9">
                    @if (Model.Contact != null)
                    {
                        @Html.DisplayFor(model => model.Contact.DisplayName)
                    }
                    else
                    {
                        <span>Unassigned</span>
                    }
                </dd>
                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.Location)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.Location.Location1)
                </dd>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card">
                @if (Model.Picture != null)
                {
                    var base64 = Convert.ToBase64String(Model.Picture);
                    var imgSrc = String.Format("data:{0};base64,{1}", Model.PictureContentType, base64);
                    <img class="card-img-top" src="@imgSrc" alt="@Model.PictureSourceFileName">
                }
                else
                {
                    <img class="card-img-top" src="..." alt="No image">
                }

            </div>

            <div class="table-responsive" style="margin-top:1.5em">
                <table class="table table-striped table-bordered table-hover table-sm">
                    <thead class="thead-light">
                        <tr>
                            <th>
                                Device Name
                            </th>
                            <th>
                                Description Of Work
                            </th>
                            <th>
                                Parts Replaced 
                            </th>
                            <th>
                                Problem
                            </th>
                            <th>
                                Service Date 
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.ServiceRecord)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.DeviceName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.DescriptionOfWork)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.PartsReplaced)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Problem)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ServiceDate)
                                </td>
                                <td>
                                    <a asp-controller="ServiceRecords" asp-action="Edit" asp-route-id="@item.ServiceRecordId">Edit</a> |
                                    <a asp-controller="ServiceRecords" asp-action="Details" asp-route-id="@item.ServiceRecordId">Details</a> |
                                    <a asp-controller="ServiceRecords" asp-action="Delete" asp-route-id="@item.ServiceRecordId">Delete</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="6">
                                <a asp-controller="ServiceRecords" asp-action="Create">Create</a>
                            </td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.AssetId">Edit</a> |
    <a asp-action="Index">Back to List</a> |
    <a asp-action="Delete" asp-route-id="@Model.AssetId">Delete</a>
</div>
