@model IEnumerable<Asset_Management.Models.SQL.Asset>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AcquiredDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PurchasePrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CurrentValue)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Brand)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Model)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Comments)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RetiredDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AssetTagNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SerialNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ServiceTag)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WarrantyExpires)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DeviceId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Verified)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateVerified)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WorkCenter)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AssetType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Condition)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Contact)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Location)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AcquiredDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PurchasePrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CurrentValue)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Brand)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Model)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Comments)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RetiredDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AssetTagNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SerialNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ServiceTag)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WarrantyExpires)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DeviceId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Verified)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateVerified)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WorkCenter)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AssetType.AssetTypeId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Condition.ConditionId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Contact.ContactId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Location.LocationId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.AssetId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.AssetId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.AssetId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
